<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppId" value="6k3Ci9K3M2y14atet7MQWB35gKUdbtjrc9FTK1i53xBm"/>
    <add key="SdkKey32" value="O5wZdrkUG1Mt0LyUmM/AVS7/Rw52ZBM/8Lsx3yr7rUrRLASQapfMiaxjFy0iU8Er"/>
    <add key="SdkKey64" value="O5wZdrkUG1Mt0LyUmM/AVS7/Rw52ZBM/8Lsx3yr7rUrRLASQapfMiaxjFy0iU8Er"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
