<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="AppId" value="******"/>
    <add key="SdkKey32" value="******"/>
    <add key="SdkKey64" value="******"/>
    <add key="FileFaceDataRepository" value="Afw.Data,Afw.Data.FileFaceDataRepository`1"/>
  </appSettings>
</configuration>